@import url('https://fonts.googleapis.com/css?family=Oxygen');


body {
  margin: 0 auto;
}

#heading {
  background-color: rgb(61, 163, 35);
  padding: 20px 25px;
}

h2 {
  font-family: Helvetica, Arial;
}

nav {
  float: right;
  margin: -45px 65px;
}

a {
  text-decoration: none;
  margin-right: 25px;
  color: #333;
  font-size: 1.25em;
}

a:hover {
  color: white;
  text-shadow: none;
}

.search {
  padding: 2px;
  border-radius: 5px;
}
.search:focus {
  background: #e1e4ea;
}
/* Everything above is navigtion */

#hot-topics {
  font-family: 'Oxygen', Helvetica, Arial, sans-serif;
}

.recipe-boxes {
  width: 28%;
  height: 100%;
  padding: 10px 5px;
  border: 2px solid #333;
  background: rgb(61, 163, 35);
  margin-right: 2%;
  margin-left: 2%;
  margin-top: 2%;
  display: inline-block;
}
